@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

*,
html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

:root {
  --bg-primary: #42454a;
  --bg-white: white;
  --font-primary: "Ubuntu", sans-serif;
}

.darkMode {
  --bg-primary: white;
  --bg-white: black;
}

nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  background-color: var(--bg-white);
  width: 100%;
  padding: 0.8rem 5%;
  font-family: var(--font-primary);
  align-items: center;
  z-index: 999;
}

nav img {
  width: 4rem;
  cursor: pointer;
}

nav .nav-link {
  display: flex;
  gap: 2rem;
}

.nav-link a li {
  font-size: 0.8rem;
  color: var(--bg-primary);
  font-weight: 400;
}

.nav-link a li::after {
  content: "";
  border-bottom: 2px solid var(--bg-primary);
  padding-bottom: 0.5rem;
  transform: scaleX(0);
  display: flex;
  transition: 0.2s ease-in-out;
}

.nav-link a li:hover::after {
  transform: scaleX(0.8);
}

nav .nav-ekstra {
  display: flex;
  gap: 1rem;
}

.nav-ekstra .btn-login {
  font-size: 0.9rem;
  padding: 0.9rem;
  border-radius: 2rem;
  font-weight: 400;
  border: 1px solid white;
  cursor: pointer;
  transition: 0.2s ease-in;
  width: 6rem;
  text-align: center;
  color: #42454a;
}

.btn-login:hover {
  border: 1px solid #42454a;
}

.nav-ekstra .btn-sign {
  background-color: #42454a;
  color: white;
  font-size: 0.9rem;
  align-items: center;
  display: flex;
  padding: 0.8rem 0.8rem;
  border: 1px solid white;
  transition: 0.2s ease-in;
  cursor: pointer;
  width: 6rem;
  justify-content: center;
  font-weight: 400;
}

.btn-sign:hover {
  background-color: white;
  border: 1px solid #42454a;
  color: #42454a;
}

.nav-ekstra .bulan {
  width: 2rem;
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
  cursor: pointer;
}
nav .hamburger {
  font-size: 2rem;
  color: var(--bg-primary);
  display: none;
}

/* hero */

/* Section styles */
#hero {
  position: relative;
  background-color: #fff; /* White background for the hero section */
  padding: 60px 0;
}

.container-hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.left-hero {
  flex: 1;
  padding: 0 20px;
}

.left-hero h1 {
  font-size: 3.5rem;
  font-weight: 300;
  color: #333; /* Adjust color as needed */
  margin-bottom: 20px;
}

.left-hero h1 span {
  font-weight: 600;
}

.line-abu {
  width: 100px;
  height: 2px;
  background-color: #42454a; /* Adjust color as needed */
  margin-bottom: 20px;
}

.left-hero a {
  color: #fff; /* Adjust color as needed */
  /* max-width: 400px; */
}

.buy {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-start;
}

.arrow-btn {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.arrow-btn i {
  background-color: #42454a;
  color: white;
  height: 2rem;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.arrow-btn i:hover {
  transform: translateX(3px);
}

.arrow-btn a {
  text-decoration: none;
  color: var(--bg-primary);
  font-size: 1rem;
  font-weight: bold;
  transition: color 0.3s ease;
}

.arrow-btn a:hover {
  color: var(--bg-primary-hover, #333);
}

.right-hero {
  flex: 1;
  position: relative;
}

.hero_slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 400px; /* Adjust slider height as needed */
}

.hero_slide {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.hero_slide.active {
  opacity: 1;
}

.hero_slider_image {
  max-width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Responsive styles */
@media (max-width: 1024px) {
  .container-hero {
    flex-direction: column;
    text-align: center;
  }

  .left-hero,
  .right-hero {
    width: 100%;
    padding: 0 20px;
  }

  .left-hero h1 {
    font-size: 2.5rem;
  }

  .line-abu {
    width: 800px;
  }

  .buy {
    margin-top: 2rem;
    justify-content: center;
  }

  .arrow-btn {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  .arrow-btn i {
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.75rem;
  }

  .arrow-btn a {
    font-size: 1.25rem;
  }

  .hero_slider {
    height: 300px; /* Adjust slider height for smaller screens */
  }
}

@media (max-width: 768px) {
  .hero_slider {
    height: 250px;
  }
  .buy {
    margin-top: 1rem;
    justify-content: center;
  }

  .arrow-btn {
    gap: 0.5rem;
  }

  .arrow-btn i {
    height: 2rem;
    width: 2rem;
    font-size: 1.5rem;
  }

  .arrow-btn a {
    font-size: 1rem;
  }
}

/*=============== ABOUT ===============*/

.about__container {
  background-color: var(--bg-white);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.about__group {
  flex: 1;
}

.slider {
  position: relative;
  width: 80%;
  overflow: hidden;
  padding: auto;
}

.slide {
  display: none;
}

.slide.active {
  display: block;
}

.slider_image {
  width: 100%;
  display: block;
  padding: 10%;
  object-fit: contain;
  border-radius: 1rem;
}

.btn {
  position: absolute;
  width: 40px;
  padding: 10px;
  border-radius: 50%;
  z-index: 10;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5); /* Make the background semi-transparent */
  background-color: var(--bg-white); /* Ensure the icon color is visible */
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:hover {
  background-color: rgba(
    0,
    0,
    0,
    0.2
  ); /* Darken on hover for better visibility */
}

.btn:active {
  transform: scale(1.1);
}

.btn-prev {
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: rgba(0, 0, 0, 0.5);
}

.btn-next {
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: rgba(0, 0, 0, 0.5);
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.about__data {
  flex: 1;
  max-width: 50%;
}

.about__title {
  font-family: var(--font-primary);
  color: var(--bg-primary);
  text-align: initial;
  margin-bottom: 2rem;
}

.about__description {
  font-family: var(--font-primary);
  width: 100%;
  max-width: 800px;
  color: var(--bg-primary);
  margin-bottom: 2rem;
  text-align: justify;
}

@media (max-width: 768px) {
  .about__container {
    flex-direction: column;
  }

  .about__group,
  .about__data {
    max-width: 100%;
    margin: 2%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .slider_image {
    width: 100%;
    display: block;
    padding: 20%;
  }
  .slider {
    width: 100%;
  }
}

/* sec-accelerate */
.container-accelerate {
  padding: 3rem 5%;
  background-color: var(--bg-white);
}

.container-accelerate .wrap-accelerate {
  display: flex;
  justify-content: center;
  gap: 6rem;
  flex-wrap: wrap;
  font-family: var(--font-primary);
}

.wrap-accelerate .lbs h1,
.mph h1,
.miles h1,
.nm h1,
.slope h1,
.brakes h1 {
  color: var(--bg-primary);
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.lbs h1 span,
.mph span,
.miles span,
.nm span,
.slope span,
.brakes span {
  font-size: 1rem;
}

.lbs p,
.mph p,
.miles p,
.nm p,
.slope p,
.brakes p {
  font-size: 0.8rem;
  color: var(--bg-primary);
  text-align: center;
}
/* contact section */
.contact-us-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  flex-wrap: nowrap;
}

.contact-us {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
  padding: 40px 20px;
  border-radius: 10px;
}

@media (min-width: 769px) {
  .contact-us {
    flex-direction: row;
  }
}

.contact-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-form h2 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  box-sizing: border-box;
}

.form-group textarea {
  resize: vertical;
}

button[type="submit"] {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--bg-primary);
  color: var(--bg-white);
  cursor: pointer;
  font-size: 16px;
}

button[type="submit"]:hover {
  background-color: var(--bg-white);
  color: var(--bg-primary);
}

.contact-map {
  flex: 1;
  display: flex;
  padding-left: 2vw;
  padding-top: 2vh;
  justify-content: center;
  align-items: center;
}

.contact-map iframe {
  width: 80%;
  height: 80%;
  border: 0;
  border-radius: 10px;
}

/* Mobile and Tablet Styles */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .contact-map iframe {
    width: 100%;
    height: 200px;
  }
}

/* contact section end */

/* infromation */
.container-inform {
  padding: 2rem 5%;
  background-color: var(--bg-white);
}

.inform-title,
.accessories-title,
.gallery-title,
.contact-title {
  margin-top: 2rem;
  font-family: var(--font-primary);
  text-align: center;
}

.inform-title h1,
.efficiency-title h1,
.accessories-title h1,
.gallery-title h1,
.colors-title h1,
.contact-title h1 {
  font-size: 2.5rem;
  color: var(--bg-primary);
  margin-bottom: 1.5rem;
}

.inform-title p,
.efficiency-title p,
.accessories-title p,
.gallery-title p,
.colors-title p,
.contact-title p {
  color: var(--bg-primary);
  font-weight: 400;
}

.container-inform .wrap-inform {
  display: flex;
  margin-top: 4rem;
  gap: 8rem;
}

.wrap-inform .img-inform {
  width: 40rem;
  height: 40rem;
  position: relative;
}

.img-inform img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  left: -10%;
  top: -10%;
}

.inform-detail .inform-detail1,
.inform-detail2,
.inform-detail3,
.inform-detail4,
.inform-detail5,
.inform-detail6 {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
  font-family: var(--font-primary);
}

.inform-detail1 p,
.inform-detail2 p,
.inform-detail3 p,
.inform-detail4 p,
.inform-detail5 p,
.inform-detail6 p {
  color: var(--bg-primary);
  font-weight: 400;
}

/* efficiency */
.container-efficiency {
  padding: 2rem 5%;
  background-color: var(--bg-white);
}

.efficiency-title {
  font-family: var(--font-primary);
  text-align: center;
}

.container-efficiency .img-efficiency {
  width: 90%;
  margin: -3rem auto;
}

.img-efficiency img {
  width: 100%;
  height: 100%;
}

/* accessories */
/* General styles */
.container-accessories {
  padding: 2rem 5%;
  overflow: hidden;
  background-color: var(--bg-white);
}

.container-accessories .wrap-accessories {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4rem;
}

.wrap-accessories .features {
  width: 30%;
}

.features h1,
.features p {
  color: var(--bg-primary);
  font-family: var(--font-primary);
  /* margin-bottom: 2rem; */
}

.feature-detail {
  display: flex;
  font-family: var(--font-primary);
  gap: 1rem;
  align-items: center;
  margin-bottom: 2rem;
  color: var(--bg-primary);
}

.img-wrap-ev {
  display: flex;
  position: relative;
  width: 70%;
  margin: 0;
}

.grid-collage {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  position: relative;
  left: 0;
  top: 30%;
  align-content: center;
  transform: translateY(-50%);
}

.collage-img {
  height: 20vh;
  width: 100%;
  border-radius: 1rem;
  transition: transform 0.3s ease;
}

.collage-img:hover {
  transform: scale(1.05);
}

.img-ev {
  bottom: 20%;
  position: relative;
  width: 30rem;
  margin-left: auto;
}

/* Mobile view */
@media (max-width: 767px) {
  .container-accessories .wrap-accessories {
    flex-direction: column;
    margin-top: 2rem;
  }

  .wrap-accessories .features {
    width: 100%;
    margin-bottom: 2rem;
  }

  .img-wrap-ev {
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
  }

  .grid-collage {
    grid-template-columns: 1fr;
    top: 0;
    transform: translateY(0);
  }

  .collage-img {
    height: auto;
  }

  .img-ev {
    width: 100%;
    bottom: 0;
    position: relative;
    margin-left: 0;
  }
}

/* rack */
.container-rack {
  padding: 2rem 0;
  font-family: var(--font-primary);
  background-color: var(--bg-white);
}

.container-rack .rack {
  display: flex;
  gap: 5rem;
  flex-wrap: wrap;
}

.container-rack .img-rack {
  display: flex;
  position: relative;
  width: 55%;
}

.img-rack .ijo {
  width: 25rem;
  height: 25rem;
}

.img-rack .red {
  width: 13rem;
  height: 13rem;
  position: absolute;
  right: 5%;
  bottom: 10%;
}

.btn-rack {
  margin: 4rem auto;
  border: 2px solid var(--bg-primary);
  padding: 1rem;
  border-radius: 0.7rem;
  width: 17.5rem;
  color: var(--bg-primary);
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.btn-rack:hover {
  transform: scale(1.03);
}

/* gallery */
.container-gallery {
  padding: 2rem 5%;
  background-color: var(--bg-white);
}

.container-gallery .wrap-gallery {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.wrap-gallery .left-gallery {
  margin-top: 17rem;
  font-family: var(--font-primary);
}

.left-gallery .card-left {
  background: linear-gradient(to right, #d8d8d8, #ffffff);
  padding: 1rem;
}

.card-left h2 {
  color: #42454a;
}

.card-left img {
  width: 30rem;
}

.left-gallery .detail-gallery {
  margin-top: 4rem;
}

.detail-gallery .battery,
.spare,
.cable {
  border: 1px solid var(--bg-primary);
  padding: 1rem;
  font-weight: 700;
  color: var(--bg-primary);
  width: 100%;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.3rem;
  font-size: 1.3rem;
}

.right-gallery {
  font-family: var(--font-primary);
}

.right-gallery .card-right1 {
  margin-top: 4rem;
  background: linear-gradient(to top, #d8d8d8, #ffffff);
  position: relative;
}

.card-right1 h2 {
  color: #42454a;
}
.card-right1 img {
  width: 35rem;
}

.card-right2 {
  margin-top: 3rem;
  background: linear-gradient(to top, #d8d8d8, #ffffff);
}

.card-right2 h2 {
  color: #42454a;
  padding: 1rem;
}

.card-right2 img {
  width: 33rem;
}

/* color */
.colors-title {
  padding: 4rem 5%;
  font-family: var(--font-primary);
  text-align: center;
  background-color: var(--bg-white);
}

.img-center {
  width: 100%;
  height: 80vh;
  background: linear-gradient(to top, #dcdcdc, #ffffff);
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.img-center img {
  width: 50%;
  height: 100%;
  object-fit: contain;
}

.container-colors .img-choice {
  display: flex;
  justify-content: center;
  padding-right: 5rem;
  background-color: var(--bg-white);
  align-items: center;
}

.img-black,
.img-red,
.img-blue {
  cursor: pointer;
  position: relative;
}

.img-black img,
.img-red img,
.img-blue img {
  width: 20rem; 
  height: 20rem; 
  position: relative;
  object-fit: contain;
  left: 30%;
}

/* testimoni */
.container-testi {
  padding: 2rem 5%;
  font-family: var(--font-primary);
  background-color: var(--bg-white);
}

.container-testi .testi-title {
  text-align: center;
  font-size: 2rem;
  color: var(--bg-primary);
}

.container-testi .row-testi {
  display: flex;
  margin-top: 3rem;
}

.row-testi .card-testi {
  border: 1px solid rgb(184, 184, 184);
  border-radius: 1rem;
  padding: 1rem;
  transition: 0.2s all ease-in-out;
  cursor: pointer;
}

.card-testi:hover {
  box-shadow: 0px 19px 18px 0px rgba(0, 0, 0, 0.1);
}

.card-testi .star {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.star i {
  color: #fe8b75;
  font-size: 1.2rem;
}

.card-testi .testi-write {
  text-align: center;
  padding-top: 2rem;
  max-width: 15rem;
  margin: auto;
  color: #42454a;
  font-size: 1.2rem;
}

.card-testi .img-testi {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 2rem 0;
}

.img-testi .name {
  color: var(--bg-primary);
}

.name h5 {
  font-size: 1rem;
}

.name p {
  font-size: 0.9rem;
}

/* contact */
.container-contact {
  padding: 2rem 5%;
  font-family: var(--font-primary);
  background-color: var(--bg-white);
}

.container-contact .email-input {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  gap: 1.5rem;
  align-items: center;
}

.email-input input {
  border: none;
  outline: none;
  font-size: 1.1rem;
  padding: 1rem;
  border-radius: 1.5rem;
  width: 20rem;
}

.email-input input:focus {
  border: 1px solid var(--bg-primary);
}

.email-input .btn-started {
  background-color: #42454a;
  color: white;
  padding: 1rem;
  border-radius: 1rem;
  font-weight: lighter;
  cursor: pointer;
}

/* footer */
.container-footer {
  background-color: #42454a;
  padding: 2rem 0;
  /* margin-top: 5rem; */
}

.container-footer .foot-content {
  display: flex;
  font-family: var(--font-primary);
  gap: 10rem;
}

.foot-content .img-footer {
  width: 30rem;
  position: relative;
}

.img-footer img {
  width: 100%;
  object-fit: contain;
  position: absolute;
  top: -30%;
}

.foot-links {
  display: flex;
  gap: 6rem;
  margin-top: 6rem;
}

.about-foot h5,
.resources h5,
.legals h5 {
  color: white;
  font-size: 1.3rem;
  font-weight: 700;
}

.about-foot ul,
.resources ul,
.legals ul {
  margin-top: 2rem;
}

.about-foot li,
.resources li,
.legals li {
  margin-bottom: 2rem;
}

.about-foot ul li a,
.resources ul li a,
.legals ul li a {
  color: white;
  font-weight: 300;
  font-size: 1rem;
}

.legals .sosmed {
  gap: 1rem;
  display: flex;
}

.legals .sosmed i {
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

.credit {
  color: white;
  font-size: 0.9rem;
  text-align: center;
  margin-top: 2rem;
}

/* responsive */

@media (min-width: 451px) and (max-width: 1024px) {
  *,
  html,
  body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden;
  }

  /* navbar */
  nav img {
    width: 4rem;
  }

  .nav-link {
    position: absolute;
    top: -100%;
    width: 100%;
    overflow: hidden;
    left: 0;
    justify-content: center;
    background-color: #42454a;
    padding: 1rem;
    transition: 0.3s ease-in;
  }

  .nav-link.active {
    top: 0;
  }

  .nav-link a li {
    color: white;
  }

  .nav-ekstra .btn-login {
    padding: 0.7rem;
    width: 5rem;
    font-size: 1rem;
  }

  .nav-ekstra .btn-sign {
    font-size: 0.9rem;
    width: 5.5rem;
  }

  nav .hamburger {
    display: flex;
  }

  /* hero */
  body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }

  .container-hero {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-white);
    padding: 2rem;
  }

  /* Left hero section */
  .left-hero {
    font-family: var(--font-primary);
    padding: 2rem;
    width: 100%;
    max-width: 600px; /* Adjust max width as needed */
  }

  .left-hero h1 {
    font-size: 3.6rem;
    font-weight: 300;
    color: var(--bg-primary);
  }

  .left-hero h1 span {
    font-weight: 600;
  }

  .line-abu {
    width: 40rem;
    height: 0.2rem;
    margin: 2rem 0;
    background-color: #42454a;
  }

  .left-hero a {
    color: var(--bg-primary);
    max-width: 30rem;
  }

  .buy {
    margin-top: 2rem;
  }

  .buy .arrow-btn {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
  }

  .arrow-btn i {
    background-color: #42454a;
    color: white;
    height: 2rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border-radius: 50%;
    transition: transform 0.3s ease;
  }

  .arrow-btn i:hover {
    transform: translateX(3px);
  }

  /* Right hero section */
  .right-hero {
    position: relative;
    width: 100%;
    margin-top: 2rem;
  }

  .swiper-container {
    width: 100%;
    height: 60vh; /* Adjust height as needed */
  }

  .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  /* Swiper Pagination */
  .swiper-pagination {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
  }

  .swiper-pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: #42454a;
    opacity: 0.5;
    border-radius: 50%;
    margin: 0 5px;
  }

  .swiper-pagination .swiper-pagination-bullet-active {
    opacity: 1;
  }

  /* Swiper Navigation Buttons */
  .swiper-button-next,
  .swiper-button-prev {
    color: var(--bg-primary);
    background-color: transparent;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 10;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-family: "swiper-icons";
    font-size: 20px;
    font-weight: 300;
  }

  .swiper-button-next {
    right: 10px;
  }

  .swiper-button-prev {
    left: 10px;
  }
  .about__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .about__group {
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .about__data {
    max-width: 80%;
  }
  .about__title {
    text-align: center;
  }
  .container-accessories .wrap-accessories {
    flex-direction: column;
    margin-top: 2rem;
  }

  .wrap-accessories .features {
    width: 100%;
    margin-bottom: 2rem;
    justify-content: center;
  }

  .img-wrap-ev {
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
  }

  .grid-collage {
    grid-template-columns: 1fr;
    top: 0;
    transform: translateY(0);
  }

  .collage-img {
    height: auto;
  }

  .img-ev {
    width: 100%;
    bottom: 0;
    position: relative;
    margin-left: 0;
  }
  .feature-detail {
    margin-top: 5%;
    margin-left: 30%;
  }

  .container-colors .img-center {
    height: 80vh;
  }

  .img-center img {
    width: 100%;
  }

  .img-choice {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 0;
  }
  .img-black,
  .img-red,
  .img-blue {
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: relative;
  }

  .img-black img,
  .img-red img,
  .img-blue img {
    width: 15rem; /* Adjust size for medium to large tablet and small desktop screens */
    height: 15rem;
  }

  /* Responsive styles */
  @media (max-width: 768px) {
    .container-hero {
      flex-direction: column;
      padding: 1rem;
    }

    .left-hero {
      padding: 2rem 0;
    }

    .right-hero {
      margin-top: 2rem;
    }

    .right-hero .circularebg {
      display: none; /* Hide circular background on mobile */
    }

    .swiper-container {
      height: 50vh; /* Adjust height as needed */
    }
  }

  /* accelerate */
  .wrap-accelerate h1 {
    font-size: 2rem;
  }

  /* information */
  .container-inform .wrap-inform {
    gap: 1.5rem;
    flex-direction: row;
  }

  .wrap-inform .img-inform {
    width: 25rem;
    height: 25rem;
  }

  .img-inform img {
    left: 5%;
  }

  /* efficiency */
  .container-efficiency .img-efficiency {
    margin-top: 1rem;
  }

  .container-accessories {
    padding-top: 2rem;
  }

  .container-accessories .wrap-accessories {
    flex-direction: row;
  }

  .img-wrap-golf .img-golf,
  .img-golf2 {
    width: 60%;
    height: 15rem;
  }

  .wrap-accessories .golf {
    margin-top: 2rem;
    width: 100%;
    text-align: center;
  }

  /* rack */
  .container-rack .rack {
    gap: 3rem;
  }

  .rack .img-rack {
    width: 100%;
  }

  .img-rack .ijo {
    width: 18rem;
    height: 18rem;
  }

  .img-rack .red {
    width: 12rem;
    height: 12rem;
    right: 2%;
  }

  .rack .rack-content {
    padding: 2rem 5%;
    text-align: center;
    width: 100%;
  }

  .container-rack .btn-rack {
    margin-top: 1rem;
  }

  /* gallery */
  .container-gallery .wrap-gallery {
    flex-wrap: wrap;
    gap: 1rem;
  }

  .wrap-gallery .left-gallery {
    margin-top: 2rem;
  }

  .left-gallery .card-left {
    width: 100%;
  }

  .card-left img {
    width: 100%;
  }

  .wrap-gallery .right-gallery {
    display: flex;
    gap: 1.5rem;
  }

  .right-gallery .card-right1 {
    width: 50%;
  }

  .card-right1 h2,
  .card-right2 h2 {
    font-size: 1rem;
  }

  .card-right1 img {
    width: 100%;
    height: 90%;
  }

  .card-right2 {
    width: 50%;
  }

  .card-right2 img {
    width: 100%;
  }

  /* color */
  .container-colors .img-center {
    height: 60vh;
  }

  .img-center img {
    width: 100%;
  }

  .img-choice {
    flex-direction: row;
    justify-content: center;
    padding-right: 0;
  }
  .img-black,
  .img-red,
  .img-blue {
    width: 50%;
    height: 50%;
    cursor: pointer;
    position: relative;
  }

  .img-black img,
  .img-red img,
  .img-blue img {
    width: 15rem; /* Adjust size for tablet and small desktop screens */
    height: 15rem;
    left: 30%;
    object-fit: contain;
  }

  /* contact */
  .email-input input {
    padding: 1rem;
    font-size: 1rem;
    width: 60%;
  }

  .email-input .btn-started {
    font-size: 1rem;
    padding: 1rem;
  }

  /* footer */
  .container-footer .foot-content {
    display: block;
  }

  .foot-content .img-footer {
    width: 15rem;
    top: -9rem;
  }

  .foot-content .foot-links {
    display: block;
    text-align: center;
    padding-top: 5rem;
  }

  .legals .sosmed {
    justify-content: center;
  }
}

@media (max-width: 450px) {
  *,
  html,
  body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden; /* Add this to prevent horizontal scrolling */
  }

  /* navbar */
  nav img {
    width: 3rem;
  }

  .nav-link {
    position: absolute;
    top: -100%;
    width: 100%;
    overflow: hidden;
    left: 0;
    justify-content: center;
    background-color: #42454a;
    padding: 1rem;
    transition: 0.3s ease-in;
  }

  .nav-link.active {
    top: 0; /* Fix to ensure correct sliding behavior */
  }

  .nav-link a li {
    color: white;
  }

  .nav-ekstra .btn-login {
    padding: 0.5rem;
    width: 4rem;
    font-size: 0.8rem;
  }

  .nav-ekstra .btn-sign {
    font-size: 0.7rem;
    width: 4.5rem;
  }

  nav .hamburger {
    display: flex;
  }

  /* hero */
  .container-hero {
    flex-direction: column-reverse;
  }

  .container-hero .right-hero {
    margin-top: 6rem;
  }

  .right-hero .kotak-abu {
    display: none;
  }

  .row-card-img .img-hero {
    width: 100%;
    max-width: 18rem;
    height: 18rem;
  }

  .container-hero .left-hero h1 {
    font-size: 3rem;
    margin-top: 20%;
  }

  /* accelerate */
  .wrap-accelerate h1 {
    font-size: 1.5rem;
  }

  /* information */
  .container-inform .wrap-inform {
    gap: 1rem;
    flex-direction: column;
  }

  .wrap-inform .img-inform {
    width: 100%;
    max-width: 20rem;
    height: 20rem;
  }
  .inform-title p {
    text-align: justify;
  }

  .img-inform img {
    left: 5%;
  }

  /* efficiency */

  .container-efficiency .img-efficiency {
    margin-top: 1rem;
  }

  .container-accessories {
    padding-top: 3rem;
  }

  .container-accessories .wrap-accessories {
    flex-direction: column-reverse;
  }

  .img-wrap-golf .img-golf,
  .img-golf2 {
    width: 100%;
    max-width: 70%;
    height: 11rem;
  }

  .wrap-accessories .golf {
    margin-top: 3rem;
    width: 100%;
    text-align: center;
  }

  /* rack */
  .container-rack .rack {
    gap: 3rem;
  }

  .rack .img-rack {
    width: 100%;
  }

  .img-rack .ijo {
    width: 100%;
    max-width: 15rem;
    height: 15rem;
  }

  .img-rack .red {
    width: 100%;
    max-width: 9rem;
    height: 9rem;
    right: 2%;
  }

  .rack .rack-content {
    padding: 2rem 5%;
    text-align: center;
    width: 100%;
  }

  .container-rack .btn-rack {
    margin-top: 0.5rem;
  }

  /* gallery */
  .container-gallery .wrap-gallery {
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  .wrap-gallery .left-gallery {
    margin-top: 3rem;
  }

  .left-gallery .card-left {
    width: 100%;
  }

  .card-left img {
    width: 100%;
  }

  .wrap-gallery .right-gallery {
    display: flex;
    gap: 2rem;
  }

  .right-gallery .card-right1 {
    width: 50%;
  }

  .card-right1 h2,
  .card-right2 h2 {
    font-size: 0.9rem;
  }

  .card-right1 img {
    width: 100%;
    height: 90%;
  }

  .card-right2 {
    width: 50%;
  }

  .card-right2 img {
    width: 100%;
  }

  /* color */
  .container-colors {
    /* height: 95vh; */
  }

  .container-colors .img-center {
    height: 50vh;
  }

  .img-center img {
    width: 100%;
  }

  .img-choice {
    flex-direction: column;
    justify-content: center;
    padding-right: 0;
    align-items: center;
  }
  .img-black,
  .img-red,
  .img-blue {
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: relative;
  }

  .img-black img,
  .img-red img,
  .img-blue img {
    width: 10rem; /* Adjust size for smaller mobile screens */
    height: 10rem;
    object-fit: contain;
    left: 40%;
  }

  /* contact */

  .email-input input {
    padding: 1rem;
    font-size: 0.9rem;
    width: 100%;
    max-width: 50%;
  }

  .email-input .btn-started {
    font-size: 0.8rem;
    padding: 1rem;
  }

  /* footer */
  .container-footer .foot-content {
    display: block;
  }

  .foot-content .img-footer {
    width: 13rem;
    top: -9rem;
  }

  .foot-content .foot-links {
    display: block;
    text-align: center;
    padding-top: 5rem;
  }

  .legals .sosmed {
    justify-content: center;
  }
}

/* toast */
.toast {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
  opacity: 0;
  transition: opacity 0.5s, visibility 0.5s;
}

/* Show the toast */
.toast.show {
  visibility: visible;
  opacity: 1;
}


@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
